
body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:url('images/beach.jpg') no-repeat center  center fixed;
  
  background-size: cover;
  color:white;
  text-shadow: 1px 1px 4px black;
}
header {
  text-align: center;
  padding: 60px 20px;
}
h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  

}
.places {
  
  padding: 40 20px;
}
.place-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-top:20px;
}
.place-card {
  
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgb(0,0,0,0.3);
  
}
.place-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;

}
.place-card h3 {
  margin:0 0 10px;
  
}
footer {
  text-align: center;
  padding:20px;
  
  font-size: 0.9rem;
}
.places h2 {
  text-align:center;
}